h1{
    background: violet;
    /* margin-left: 50px;
    margin-top: 50px;
    margin-right: 1500px;
    margin-bottom: 50px; */
    /* margin: 100px 20px; */
    margin: 100px 10px 20px 30px;
}

p{
    background: tomato;
    padding: 50px;
}